---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Ingeniero de soporte TI",
    company: "Hotel Bussines Center Popayan",
    description:
      "Como ingeniero de soporte TI en el entorno hotelero, he empleado mis habilidades técnicas a lo largo de mi trayectoria para asegurar el funcionamiento óptimo de los sistemas informáticos del establecimiento. Mi rol ha consistido en brindar un soporte técnico excepcional y resolver problemas de manera ágil y eficaz.",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
